:root {
    --header-color: #700f0f;
    --backgroundcolor: #1d1919;
    /* #473838 */
    --popupcolor: #555555;
    --popuptextcolor: #000000;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--popuptextcolor);
    align-content: center;
    display: block;
    flex-direction: row;
    margin: 0;
}

h1,
h2 {
    text-align: center;
    color: var(--header-color);
}

h3 {
    text-align: center;
    background-color: var(--header-color);
    padding: 1em;
}

li {
    background-image: url(../images/sword-svgrepo-com1.gif);
    padding: 0.40em;
    padding-left: 1.5em;
    margin: 0;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em;
}

.flex-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.flex-1 {
    margin: 1em;
    padding: 1em;
}

.flex-2 {
    margin: 1em;
    padding: 1em;
    background-color: var(--backgroundcolor);
    width: 50%;

}

#girin-img {
    scale: 1.5;
}

img {
    cursor: pointer;
    filter: drop-shadow(0px 0px 1rem var(--backgroundcolor));
    transition: filter 500ms ease;
}

img:hover {
    filter: drop-shadow(0px 0px 2rem var(--header-color))
}

@keyframes visible {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.flex-content:nth-child(even) {
    flex-direction: row-reverse;
}

.header {
    /*background-color: var(--header-color); */
    padding: 1em;
    color: var(--popuptextcolor);
}

.head-text {
    background-color: var(--backgroundcolor);
    text-align: left;
}


/*
    First try on modal stat
    position:absolute;
    z-index: 1;
    background-color: var(--popupcolor);
    color: var(--popuptextcolor);
    opacity: 0.90;
    padding-right:0.5em;
    padding-left: 0.5em;
    margin: auto;*/

.char-details {
    background-color: var(--popupcolor);
    color: var(--popuptextcolor);
    margin: 10% auto;
    padding: 1em;
    border: 1px solid #888;
    width: 80%;
    animation: visible 1s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.filler {
    width: auto;
    padding: 15em 0em;
    background-image: url(../images/backgroundcolor.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    display: block;
    flex-direction: row;
    margin: 0;

}

/*#girin:hover .char-details {display: block;}*/

.footer {
    background-color: var(--backgroundcolor);
    padding: 0.5em;
    font-size: smaller;
    color: white;
    text-align: center;
}

a {
    text-decoration-line: none;
    color: white;
}

table {
    width: 100%;
}

th {
    background-color: var(--header-color);
}

tr {
    background-color: var(--backgroundcolor);
}

tr:nth-child(even) {
    background-color: var(--popupcolor);
}

@media screen and (max-width: 610px) {
    .flex-2 {
        width: auto;
    }

}