:root {
    --header-color: #700f0f;
    --backgroundcolor: #1d1919; /* #473838 */
    --popupcolor: #555555; 
    --popuptextcolor: #000000;
}

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-image: url(../images/background.jpg);
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    align-content: center;
    display:block;
    flex-direction:row;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

h3 {
    text-align: center;
    background-color: var(--header-color);
    padding: 1em;
}

.flex-content {
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
    flex-wrap: wrap;
}
.flex-1 {
    margin: 1em;
    padding: 1em;
    animation: visible 1.5s;
}

.flex-2 {
    margin: 1em;
    padding: 1em;
    animation: visible 1s;
    background-color: var(--backgroundcolor);
    width:50%;

}

#girin-img {
    scale: 1.5;
}

img {
    cursor:pointer;
}

img:hover {
    filter: grayscale(60%);
}

 @keyframes visible {
    from {opacity: 0; scale: 0.5;}
    to {opacity: 1; scale: 1;}
}

.flex-content:nth-child(even) {
    flex-direction: row-reverse;
}

.header {
    /*background-color: var(--header-color); */
    padding: 1em;
    color:black;
}

.head-text {
    background-color: var(--backgroundcolor);
    text-align: left;
}


    /*
    First try on modal stat
    position:absolute;
    z-index: 1;
    background-color: var(--popupcolor);
    color: var(--popuptextcolor);
    opacity: 0.90;
    padding-right:0.5em;
    padding-left: 0.5em;
    margin: auto;*/

.char-details {
    background-color: var(--popupcolor);
    color: var(--popuptextcolor);
    margin: 15% auto;
    padding: 1em;
    border: 1px solid #888;
    width: 80%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 1em 0.5em;
    align-items: center;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*#girin:hover .char-details {display: block;}*/

.footer {
    background-color: var(--backgroundcolor);
    padding: 0.5em;
    font-size: smaller;
    color: white;
}

a {
    text-decoration-line: none;
    color: white;
}

@media screen and (max-width: 610px) {
    .flex-2 {
        width:auto;
    }
    
}