* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(../images/example.png);
    text-align: center;
    align-content: center;
    display:block;
    flex-direction: row;
}

.flex-content {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-1 {
    margin: 1em;
    padding: 1em;
}

.flex-2 {
    margin: 1em;
    padding: 1em;
}